<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bugstack.infrastructure.persistent.dao.IRaffleActivityDao">
    <resultMap id="dataMap" type="cn.bugstack.infrastructure.persistent.po.RaffleActivity">
        <id column="id" property="id"/>
        <result column="activity_id" property="activityId"/>
        <result column="activity_name" property="activityName"/>
        <result column="activity_desc" property="activityDesc"/>
        <result column="begin_date_time" property="beginDateTime"/>
        <result column="end_date_time" property="endDateTime"/>
        <result column="strategy_id" property="strategyId"/>
        <result column="state" property="state"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="queryRaffleActivityByActivityId" parameterType="java.lang.Long" resultMap="dataMap">
        select activity_id, activity_name, activity_desc, begin_date_time, end_date_time, strategy_id, state
        from raffle_activity
        where activity_id = #{activityId}
    </select>

    <select id="queryActivityIdByStrategyId" resultType="java.lang.Long">
        select activity_id
        from raffle_activity
        where strategy_id = #{strategyId}
    </select>

    <select id="queryStrategyIdByActivityId" resultType="java.lang.Long">
        select strategy_id
        from raffle_activity
        where activity_id = #{activityId}
    </select>

    <insert id="insert" parameterType="cn.bugstack.infrastructure.persistent.po.RaffleActivity">
        INSERT INTO raffle_activity(activity_id, activity_name, activity_desc, begin_date_time, end_date_time,
                                    strategy_id, state, create_time, update_time)
        VALUES (#{activityId}, #{activityName}, #{activityDesc}, #{beginDateTime}, #{endDateTime}, #{strategyId},
                #{state}, #{createTime}, #{updateTime})
    </insert>

    <update id="update" parameterType="cn.bugstack.infrastructure.persistent.po.RaffleActivity">
        UPDATE raffle_activity
        SET activity_name=#{activityName},
            activity_desc=#{activityDesc},
            begin_date_time=#{beginDateTime},
            end_date_time=#{endDateTime},
            strategy_id=#{strategyId},
            state=#{state},
            update_time=#{updateTime}
        WHERE activity_id = #{activityId}
    </update>

    <delete id="deleteByActivityId">
        DELETE
        FROM raffle_activity
        WHERE activity_id = #{activityId}
    </delete>

    <select id="queryActivityPage" resultMap="dataMap">
        SELECT * FROM raffle_activity WHERE 1=1
        <if test='activityName != null and activityName != ""'>
            AND activity_name LIKE CONCAT('%',#{activityName},'%')
        </if>
        <if test='state != null and state != ""'>
            AND state=#{state}
        </if>
        ORDER BY create_time DESC LIMIT #{offset},#{limit}
    </select>

    <select id="countActivity" resultType="int">
        SELECT COUNT(*) FROM raffle_activity WHERE 1=1
        <if test='activityName != null and activityName != ""'>
            AND activity_name LIKE CONCAT('%',#{activityName},'%')
        </if>
        <if test='state != null and state != ""'>
            AND state=#{state}
        </if>
    </select>

    <update id="updateActivityStatus">
        UPDATE raffle_activity
        SET state=#{state},
            update_time=NOW()
        WHERE activity_id = #{activityId}
    </update>

    <select id="queryMaxActivityId" resultType="java.lang.Integer">
        SELECT  activity_id
        FROM raffle_activity
        ORDER BY activity_id DESC
        limit 1;
    </select>
</mapper>
