<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bugstack.infrastructure.persistent.dao.IRaffleActivityOrderDao">
    <resultMap id="dataMap" type="cn.bugstack.infrastructure.persistent.po.RaffleActivityOrder">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="sku" property="sku"/>
        <result column="activity_id" property="activityId"/>
        <result column="activity_name" property="activityName"/>
        <result column="strategy_id" property="strategyId"/>
        <result column="order_id" property="orderId"/>
        <result column="order_time" property="orderTime"/>
        <result column="total_count" property="totalCount"/>
        <result column="day_count" property="dayCount"/>
        <result column="month_count" property="monthCount"/>
        <result column="state" property="state"/>
        <result column="out_business_no" property="outBusinessNo"/>
        <result column="pay_amount" property="payAmount"/>
        <result column="end_date_time" property="endDateTime"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <insert id="insert" parameterType="cn.bugstack.infrastructure.persistent.po.RaffleActivityOrder">
        insert into raffle_activity_order
        (user_id, sku, activity_id, activity_name, strategy_id, order_id, order_time, state, out_business_no,
         total_count, day_count, month_count,
         create_time, update_time, pay_amount)
        values (#{userId}, #{sku}, #{activityId}, #{activityName}, #{strategyId}, #{orderId}, #{orderTime}, #{state},
                #{outBusinessNo}, #{totalCount}, #{dayCount}, #{monthCount},
                now(), now(), #{payAmount})
    </insert>

    <select id="queryRaffleActivityOrderByUserId" parameterType="java.lang.String" resultMap="dataMap">
        select user_id,
               sku,
               activity_id,
               activity_name,
               strategy_id,
               order_id,
               order_time,
               state,
               pay_amount
        from raffle_activity_order
        where user_id = #{userId}
    </select>

    <select id="queryRaffleActivityOrder" parameterType="cn.bugstack.infrastructure.persistent.po.RaffleActivityOrder"
            resultMap="dataMap">
        select user_id,
               sku,
               activity_id,
               activity_name,
               strategy_id,
               order_id,
               order_time,
               total_count,
               day_count,
               month_count,
               pay_amount,
               state
        from raffle_activity_order
        where user_id = #{userId}
          and out_business_no = #{outBusinessNo}
    </select>

    <update id="updateOrderCompleted" parameterType="cn.bugstack.infrastructure.persistent.po.RaffleActivityOrder">
        update raffle_activity_order
        set state       = 'completed',
            update_time = now()
        where user_id = #{userId}
          and out_business_no = #{outBusinessNo}
          and state = 'wait_pay'
    </update>

    <select id="queryUnpayActivityOrder" parameterType="cn.bugstack.infrastructure.persistent.po.RaffleActivityOrder"
            resultMap="dataMap">
        SELECT user_id,
               sku,
               activity_id,
               activity_name,
               strategy_id,
               order_id,
               order_time,
               total_count,
               day_count,
               month_count,
               pay_amount,
               state
        FROM raffle_activity_order
        WHERE user_id = #{userId}
          AND sku = #{sku}
          AND state = 'wait_pay'
          AND order_time >= now() - INTERVAL 1 MONTH
        LIMIT 1
    </select>

    <select id="queryPage" resultMap="dataMap">
        SELECT o.*, a.end_date_time FROM raffle_activity_order o
        LEFT JOIN raffle_activity a ON o.activity_id = a.activity_id
        WHERE 1=1
        <if test='userId != null and userId != ""'>
            AND user_id=#{userId}
        </if>
        <if test='activityId != null'>
            AND activity_id=#{activityId}
        </if>
        <if test='orderState != null and orderState != ""'>
            AND state=#{orderState}
        </if>
        ORDER BY create_time DESC LIMIT #{offset},#{limit}
    </select>

    <select id="count" resultType="int">
        SELECT COUNT(*) FROM raffle_activity_order WHERE 1=1
        <if test='userId != null and userId != ""'>
            AND user_id=#{userId}
        </if>
        <if test='activityId != null'>
            AND activity_id=#{activityId}
        </if>
        <if test='orderState != null and orderState != ""'>
            AND state=#{orderState}
        </if>
    </select>
</mapper>
