<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bugstack.infrastructure.persistent.dao.IRuleTreeDao">

    <resultMap id="dataMap" type="cn.bugstack.infrastructure.persistent.po.RuleTree">
        <id column="id" property="id"/>
        <result column="tree_id" property="treeId"/>
        <result column="tree_name" property="treeName"/>
        <result column="tree_desc" property="treeDesc"/>
        <result column="tree_node_rule_key" property="treeRootRuleKey"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="queryRuleTreeByTreeId" parameterType="java.lang.String" resultMap="dataMap">
        select tree_id, tree_name, tree_desc, tree_node_rule_key
        from rule_tree
        where tree_id = #{treeId}
    </select>

    <insert id="insert" parameterType="cn.bugstack.infrastructure.persistent.po.RuleTree">
        INSERT INTO rule_tree(tree_id, tree_name, tree_desc, tree_root_rule_key, create_time, update_time)
        VALUES(#{treeId}, #{treeName}, #{treeDesc}, #{treeRootRuleKey}, #{createTime}, #{updateTime})
    </insert>

    <update id="update" parameterType="cn.bugstack.infrastructure.persistent.po.RuleTree">
        UPDATE rule_tree SET tree_name=#{treeName}, tree_desc=#{treeDesc}, tree_root_rule_key=#{treeRootRuleKey}, update_time=#{updateTime} WHERE tree_id=#{treeId}
    </update>

    <delete id="deleteByTreeId">
        DELETE FROM rule_tree WHERE tree_id=#{treeId}
    </delete>

    <select id="queryRuleTreePage" resultMap="dataMap">
        SELECT * FROM rule_tree WHERE 1=1
        <if test='treeName != null and treeName != ""'>
            AND tree_name LIKE CONCAT('%',#{treeName},'%')
        </if>
        ORDER BY create_time DESC LIMIT #{offset},#{limit}
    </select>

    <select id="countRuleTree" resultType="int">
        SELECT COUNT(*) FROM rule_tree WHERE 1=1
        <if test='treeName != null and treeName != ""'>
            AND tree_name LIKE CONCAT('%',#{treeName},'%')
        </if>
    </select>

</mapper>
