<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bugstack.infrastructure.persistent.dao.IStrategyDao">

    <resultMap id="dataMap" type="cn.bugstack.infrastructure.persistent.po.Strategy">
        <id column="id" property="id"/>
        <result column="strategy_id" property="strategyId"/>
        <result column="strategy_desc" property="strategyDesc"/>
        <result column="rule_models" property="ruleModels"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="queryStrategyList" resultMap="dataMap">
        select strategy_id
        from strategy
        limit 10
    </select>

    <select id="queryStrategyByStrategyId" parameterType="java.lang.Long" resultMap="dataMap">
        select strategy_id, strategy_desc, rule_models
        from strategy
        where strategy_id = #{strategyId}
    </select>

    <insert id="insert" parameterType="cn.bugstack.infrastructure.persistent.po.Strategy">
        INSERT INTO strategy(strategy_id, strategy_desc, rule_models, create_time, update_time)
        VALUES(#{strategyId}, #{strategyDesc}, #{ruleModels}, #{createTime}, #{updateTime})
    </insert>

    <update id="update" parameterType="cn.bugstack.infrastructure.persistent.po.Strategy">
        UPDATE strategy SET strategy_desc=#{strategyDesc}, rule_models=#{ruleModels}, update_time=#{updateTime} WHERE strategy_id=#{strategyId}
    </update>

    <delete id="deleteByStrategyId">
        DELETE FROM strategy WHERE strategy_id=#{strategyId}
    </delete>

    <select id="queryStrategyPage" resultMap="dataMap">
        SELECT * FROM strategy WHERE 1=1
        <if test='strategyDesc != null and strategyDesc != ""'>
            AND strategy_desc LIKE CONCAT('%',#{strategyDesc},'%')
        </if>
        ORDER BY create_time DESC LIMIT #{offset},#{limit}
    </select>

    <select id="countStrategy" resultType="int">
        SELECT COUNT(*) FROM strategy WHERE 1=1
        <if test='strategyDesc != null and strategyDesc != ""'>
            AND strategy_desc LIKE CONCAT('%',#{strategyDesc},'%')
        </if>
    </select>

    <select id="queryMaxActivityId" resultType="java.lang.Integer">
        SELECT strategy_id
        FROM strategy
        ORDER BY strategy_id DESC
        LIMIT 1
    </select>
</mapper>
